body{
  margin: 0!important;
}
header{
  padding-top: 0px;
    padding-bottom: 15px;
  display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
   /* position: fixed;*/
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
    color: rgb(255, 255, 255);
}
.navi{
  display: flex;
}
.maintalent{
  display: flex;
}
.maintalent1{
  display: flex;
}
.talent{
 weight: 137px; 
  height: 22 px;
  color: -webkit-link;
    cursor: pointer;
  margin: auto;
    color: rgb(0, 0, 0);
    display: flex;
    max-width: 1440px;
    width: 88%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.home{
  margin-right: 3rem;
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
}
.imp{
  margin-right: 3rem;
}
.whyus{
   margin-right: 3rem;
}
.hiret{
   margin-right: 3rem;
}
.vet{
  text-align:center;
  margin: 0px;
  letter-spacing: 0.00938em;
  color: #161617!important;
    font-family: Graphik!important;
    font-style: normal!important;
    font-weight: 800!important;
  padding-bottom:40px;
}
.thick{
    float:right;
}
.atzuri{
   text-align:center;
  letter-spacing: 0.00938em;
color: #787878!important;
    font-family: Graphik!important;
    font-size: 19px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    margin: auto!important;
    width: 70%!important;
  padding-bottom:20px;
}
.btn{
  text-align:center;
  padding-bottom:40px;
}
.box1{
  display: flex;
}
.img1{
 
}